<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - C&amp;E Express - Capstone</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style  >
        .navbar-collapse .nav li:hover {
            background: #fc8f38;
        }
        .nav li:active {
            background: #fc8f38;
        }
            
       
      
      
        }

    </style>
</head>
<body>
    <header>

        <div class="navbar navbar-default" >

            <div class="container">
                <div class="navbar-header" style="display:flex; text-transform: uppercase;text-decoration: none; 	 solid #e8e8e8;"></div>


                    <div class="logo" style="position:absolute; margin-left:-60px; "><a href="#"><img src="~/Content/images/logo.png" style="width:150px; height:50px;" alt=""></a></div>
                    <div class="top_right_area"style="position:relative; ">
                        <div class="inner_top" style="border-color:red; border: 2px;">

                            <div class="track_box" style=" float:right; padding:11px;">
                                <form>
                                    <input type="text" onfocus="if(this.value=='Enter Trip Number') this.value='';" onblur="if(this.value=='') this.value='Enter Trip Number';" name="Enter Trip Number" value="Enter Trip Number" style="text-align: center">

                                    <input type="submit" value="Track" style="background-color:#11147f; color:white; border-radius:7px; ">
                                </form>
                            </div>
                            <div class="fuel_sercharge" style=" float:right; padding:15px;"><a href="http://ceexpress.ca/?page_id=312" style="position:relative;  background-color:#11147f; color:white; padding:5px; border-radius:7px; ">Fuel Surcharge</a></div>
                            <div class="Log_in" style=" float:right; padding-top:15px; padding-bottom:15px; padding-left:15px; padding-right:60px;"><a href="http://ceexpress.ca/?page_id=312" style="position:relative;  background-color:#11147f; color:white; padding:5px; border-radius:10px; ">Log In</a></div>

                        </div>
                    </div>
                </div>


            
               
                <div class="navbar-collapse collapse" style="background:#11147f; ">
                    <ul class="nav navbar-nav" id="navigation" >
                        <li>@Html.ActionLink("Home", "Index", "Home", new { @style = "color:white" })</li>
                        <li>@Html.ActionLink("Account", "", "", new { @style = "color:white" })</li>
                        <li>@Html.ActionLink("Your Orders", "Index", "Orders", new { @style = "color:white" })</li>
                        <li>@Html.ActionLink("LogIn", "Login", "Login", new { @style = "color:white" })</li>

                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { @style = "color:white" })</li>
                        <li>@Html.ActionLink("About us", "About", "Home", new { @style = "color:white" })</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr /><br /> <br /> <br /> <br /> <br />
            @*<footer>
                <p >&copy; @DateTime.Now.Year - C&amp;E Express - Capstone Prototype</p>
            </footer>*@
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        
        </div>
        </div>

        </header>
</body>

    
</html>