@model CapstoneDBModel.Model.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fulfilmentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fulfilmentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pickupAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickupAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destinationAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destinationAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.readyTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.readyTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dispatchedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dispatchedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOfPieces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfPieces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.packageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.packageType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referenceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referenceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bilableAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bilableAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isRoundTrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isRoundTrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assignedDriverID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assignedDriverID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.accountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.accountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipment.driverNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipment.driverNotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
