@model IEnumerable<CapstoneDBModel.Model.Order>

@{
    ViewBag.Title = "Current Orders";
}

<h2>Index</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fulfilmentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.packageType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.referenceNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.orderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fulfilmentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.packageType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.referenceNumber)
        </td>

        <td>
            @Html.ActionLink("Details", "Details", new { id=item.orderID }) |
        </td>
    </tr>
}

</table>
